.SlideContent {
  font-family: 'roboto';
  padding: 20px 40px;
  background-color:#29292a;
  color: #fafafa;
  height:100%;
  display:flex;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.SlideContent h1 {
  font-family: cursive;
  margin-bottom: 200px;
  text-align: center;
  font-size: 40px;
  font-weight:200;
}

.SlideBody {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
